.row{
    display: flex;
    flex-direction: row;
    gap: 0.5%;
}

.button{
    width: 90px;
    height: 40px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    border: 1px solid black;
    width: 350px;
    padding: 5px;
    margin-bottom: 0.5%;
    display: flex;
}

.container{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}